  #aboutMe{
    display:grid;
    grid-template-columns: 1fr;
    padding: 4rem;
    margin-right:30px;
    font-size: 1.25em;
    align-items: center;

  }
.about h2{
    padding-bottom:1.5rem;
    text-shadow: -1px 1px 2px #6d7993;
}
.about p{
    padding:2rem;
    background-color:#96858f;
    border-radius: 7px;
}
  #image{
    display:none;
    }

@media screen and (min-width: 650px) {
    #aboutMe{
        display:grid;
        grid-template-columns: 1fr 3fr;
    }
    #image{
        display: block;
        width: 20vw;
        height: 20vw;
        min-width: 20px;
        padding-right: 1.5rem;
    }
}

span.live {
    cursor: pointer;
    border-bottom: 1px dashed #4e3745;
  }
  span.live:hover {
    color: #d5d5d5;
    background-color: #4e3745;
    padding:5px;
    border-radius: 5px;
  }