*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box;
    margin:0;
    padding:0;
    text-align: center;
    list-style-type: none;
    
}

.bg-Pic{
    width: 100%;
    height: 35rem;
    background-image: url("images/background.jpg");
    margin:3rem auto 0;
    background-position: center;
    text-align: center;
    text-shadow:-3px 2px 2px black;
    color: #eaeae1;
    font-size: 2rem;
}
h1{   
    font-size: 5rem;
    padding:2rem;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    background: rgb(75, 71, 71);
}
nav a{
    padding:1rem 2rem;
    text-decoration: none;
    color: #eaeae1;
}
nav a:hover{
    background-color: grey;
    color:black;
}
#aboutMe{
    display:flex;
    background-color: #eaeae1;
    padding: 4rem 3rem;
}
#image{ 
    display:flex;
    justify-content: flex-start;
    height: 10rem;
    padding:0 2rem;
}
#about{
    display:flex;
    flex-direction: column;
    align-items: center;

}
#about h2{
    padding:0 0 2rem 0;
    text-shadow: -1px 1px 5px rgb(75, 71, 71);
    
}
#about p{
    padding:2rem;
    background-color:#bdbdb0;
    border-radius: 10px;
}
.skills{
    background-image: url("images/background.jpg");
    background-position-y: -10vh;
    background-position-x: 10vw;
    height:20rem;
    width:100%;
    color: #eaeae1;
    text-shadow:3px 3px 2px black;
    font-size: 3rem;
    padding:2rem 2rem;
}
.skills ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:1rem 5rem;
    flex-wrap: wrap;
}
li img{
    height:6rem; 
    border-radius: 20px;
}





#projects{
    font-size: 2rem;
    padding:3rem 2rem;
    background-color: #eaeae1;
}
#projects h2{
    text-shadow: -1px 1px 5px rgb(75, 71, 71); 
}
.cards{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    margin: auto
}
#card{
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 270px;
    height: 550px;
    margin: 15px;
    background-color:#bdbdb0;  
    box-shadow: -2px 2px 5px rgb(75, 71, 71);  
}
#card img{
    width:95%;
    box-shadow: -1px 1px 3px rgb(75, 71, 71);
}
#card p{
    font-weight: bold;
}
#card p, li{
    display:flex;
    padding:5px;
    justify-content: flex-start;
}


#contactMe{
    background-color: #eaeae1;
    padding: 1rem;
}
#contactMe h3{
    display:flex;
    justify-content:center;
    font-size: 2rem;
    padding:2rem 2rem;
    text-shadow: -1px 1px 5px rgb(75, 71, 71);  

}
#contactMe ul{
    display:flex;
    justify-content: space-around;
    padding:1rem 5rem;
    flex-wrap: wrap; 
    font-size: 1.25rem;
}
footer{
    background-color:rgb(75, 71, 71);
    padding:1.5rem;
    color: #eaeae1;
}