*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box;
    margin:0;
    padding:0;
    text-align: center;
    list-style-type: none;
    line-height: 1.618em;
}
body.modal-open {
    /* hide scrolling when modal open */
    overflow: hidden;
  }
  body{
    
    background-color:#f9f2ec;
  }
.bg-Pic{
    width: 100%;
    height: 37rem;
    background-image: url("images/bg-pic.png");
    margin:3rem auto 0;
    background-position: center;
    text-align: center;
    text-shadow:-3px 2px 2px #130d06;
    color: #FBF6F2;
    font-size: 2rem;
}

h1{   
    font-size: 5rem;
    padding:2rem;
}
#occupation{
    display:flex;
    justify-content: center;
    padding:1rem;
    width:100%;
    background-color:RGB(230,204,179,.6);
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    background: #130d06;
}
nav a{
    padding:1rem 2rem;
    text-decoration: none;
    color: #f9f2ec;
    font-weight: bold;
}
nav a:hover{
    background-color: RGB(230,204,179,.6);
    color:#130d06;
}
@media screen and (max-width: 700px) {

    nav {
      display: flex;
      flex-flow: column;
      text-align:left;
    }
    nav a {
      display: none; 
      text-align:left;   
    }
    nav::before {
      content: 'MENU';
      color: #f9f2ec;
      background: #130d06;
      font-weight: bold;
      padding: 1em 2em;
    }
    nav.open::before {
      content: 'HIDE MENU';
    }
    nav.open a {
      display: block;
    }
    nav ::selection {
      color: inherit;
      background: transparent;
    }
  }

#aboutMe{
    display:grid;
    grid-template-columns: 1fr 3fr;
    background-color: #f9f2ec;
    padding: 4rem 0;
    margin-right:30px;
}
#image{    
    width: 20vw;
    height: 20vw;
    min-width: 20px;
    align-self: center;
    padding-left: 1.5rem;
}
#about{
    align-items: center;
}
#about h2{
    padding-bottom:1.5rem;
    text-shadow: -1px 1px 5px #130d06;
}
#about p{
    padding:2rem;
    border-radius: 10px;
}
span.live {
    cursor: pointer;
    border-bottom: 1px dashed #09f;
  }
  span.live:hover {
    color: #09f;
  }
#projects{
    font-size: 2rem;
    padding:3rem 2rem;
}
#projects h2{
    text-shadow: -1px 1px 5px #130d06; 
}
.cards{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    margin: auto
}
#card{
    float: left;
    box-shadow: 0 4px 8px 0 #130d06;
    border-radius: 5px;
    width: 270px;    
    margin: 15px;
    background-color:#e6ccb3;  
    box-shadow: -2px 2px 5px #130d06;  
}
#card img{
    width:95%;
    box-shadow: -1px 1px 3px #130d06;
}

#card h3{
    padding:5px;
}
#card p{
    font-weight: bold;
}
#card p, li{
    display:flex;
    padding-left:10px;
    padding-right:10px;
}
#card button{
    display:none;
}

.gitLink{
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 0;
  height: 100%;
  width: 96%;
  opacity: 0;
  transition: .5s ease;
  background-color: #130d06;
}

.gitLink:hover .overlay {
  opacity: .7;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.text a{
  text-decoration: none;
}

@media screen and (max-width: 680px) {
  #projects {
    grid-template-columns: 1fr;
    grid-row-gap: 1em;    
    width: 60vw;
    min-width: 22em;
    margin: 1em auto;
  }

  #projects button {
    display: inline-block;
    margin-bottom:5px;
  }  
  
  #projects article p , #projects article li {
    display: none;
  }

  #projects article.expanded p, #projects article.expanded li {
    display: block;
  }
  
}

@media screen and (max-width: 680px) {
  #projects {
    width: auto;
    min-width: unset;
  }
}

#contactMe h3{
    display:flex;
    justify-content:center;
    font-size: 2rem;
    padding:2rem 2rem;
    text-shadow: -1px 1px 5px #130d06; 
}
#contactMe ul{
    display:flex;    
}
#contactMe a{
    text-decoration: none;
    color:#130d06;
}
footer{
    background-color:#130d06;
    padding:1.5rem;
    color: #f9f2ec;
}
#contactMe a:hover{
    color:purple;
}
.skills{
    background-image: url("images/wood.png");
    height:-30vw;
    width:100%;
    color: #130d06;
    text-shadow:2px 2px 2px #f9f2ec;
    font-size: 3rem;
    padding:3rem 2rem;
}
#slider ::selection {
    color: inherit;
    background: transparent;
  }
  
  #slider-frame {
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px #333;
    position: relative;
  }
  
  #slider-prev,
  #slider-next {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 2px #000;
    transition: 0.5s;
    cursor: pointer;
    font-size: 12px;
    padding: 30px;
  }
  
  #slider-prev:hover,
  #slider-next:hover {
    background: #f9f2ecbf;
    color:#130d06;
  }
  
  #slider-prev {
    left: 0;
    flex-direction: row;
    align-items: center;
  }
  
  #slider-next {
    right: 0;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  #slider-frame {
    background: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 50vw;
    min-width:300px;
    background-size: contain;
    margin:auto;
    height: 5em;
  }
  
  #slider-frame [data-src] {
    display: none;
  }
  
  #slider-caption {
    margin: auto;
    margin-top: 5px;
 
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    text-align: center;
    width: 50vw;
    min-width:300px;
    transition: 0.5s;
  }
  
  #slider-caption.flash {
    transition: 0s;
    background: #ccc;
  }
  
  
  #backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
  
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .modal-open #backdrop {
    display: flex;
  }
  
  #modal {
    width: 80vw;
    height: 80vh;
    background: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px #333;
  }
  
  #modal h4 {
    float: left;
  }
  
  #modal button {
    float: right;
  
    background: #eee;
    padding: 5px 10px;
    border: 0;
    border-radius: 3px;
  
    cursor: pointer;
  }
  
  #modal button:hover {
    color: #fff;
    background: #999;
  }
  
  #modal #modal-content {

    clear: both;
    padding-top: 1em;
  }
  
 #modal-content p{
      text-align: left;
  }
  #modal-content span{
    font-size: 12px;
}
@media screen and (max-width: 400px) {
  #modal{
    height:90vh;
  }
}