#contactMe{
    padding-top: 1.5em;
}
#contactMe label{
    font-size: 2rem;
}
#contactMe ul{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 0;
    font-size: 20px;
}
#contactMe a{
    text-decoration: none;
    color:#130d06
}
#contactMe a:hover{
  color:#9f8fa8;
  border: 1px dashed #414757;
}

.flex-row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap
}
.info{
    font-size: 1.2em;
    padding: .25em;
}